@import '../../styles/variables.scss';

.list-item {
  background: #3a3d52;
  margin: 2px 0;
  padding: 12px 10px;
  position: relative;

  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  & .name-wrapper {
    display: flex;

    & img {
      display: none;
      width: 16px;

      @media #{$medium} {
        width: 18px;
      }
    }
  }

  & .active-view {
    max-height: 0px;
    height: 300px;
    overflow: hidden;
    transition: max-height 0.25s;

    & > h6 {
      display: none;
    }
  }

  & .close-button {
    position: absolute;
    top: 8px;
    right: 10px;
    display: none;
  }
  
  &.active {
    background: #b7c0ce;
    color: #000;

    & .name-wrapper {
      & > img {
        display: block;
        margin-left: 5px;
      }
    }

    & .active-view {
      display: block;
      max-height: 300px;
      height: 300px;
      transition: max-height 0.25s;

      & > h6 {
        display: block;
      }
    }

    & .close-button {
      display: block;
    }

    & h6 {
      margin: 0;
      margin-top: 10px;
    }
  }
}