@import '../../styles/variables.scss';

.search {
  max-width: 100%;
  position: relative;

  & .search-input {
    border: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background: #3a3d52;
    color: #aaaaaa;
    box-sizing: border-box;
    padding-left: 10px;

    &::placeholder {
      color: #aaaaaa;
    }

    &:focus {
      outline: none;
    }

    @media #{$medium} {
      font-size: 16px;
    }
  }

  & > img {
    position: absolute;
    right: 10px;
    top: calc(50% - 8px);
    width: 16px;
  }
}
